footer {
  @include flexContent($align: start);
  background-color: $color-grey4;
  color: $color-white;
  flex-direction: column;
  padding: $padding-section;
  .footer_title {
    font-family: "Shrikhand";
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  a,
  div {
    margin-bottom: 0.5rem;
  }
  a {
    color: $color-white;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  i {
    margin-right: 0.5rem;
  }
}
