$delay: 400ms;

.menu {
  margin-top: $header-background;
  background-color: $color-grey1;
  border-radius: 40px 40px 0 0;
  padding: $padding-section;
  @include breakpoint(desktop) {
    margin-top: $header-background + 10rem;
    padding-bottom: 4rem;
  }
  &__container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    margin-top: 1.6rem;
    margin-bottom: 3rem;
  }

  &__title {
    @include font-body-small(1rem);
    text-transform: uppercase;
    margin-bottom: 1.3rem;
    .underline {
      border-bottom: 3px solid $color-tertiary;
      width: 2.8rem;
      display: inline-block;
      line-height: 1.85;
    }
  }
}

.restaurant__title {
  @include flexContent($justify: space-between);
  margin: 0.5rem 1rem 0 0;
  h1 {
    @include font-body-small(1.7rem);
    padding-top: 0.5rem;
  }
  i {
    font-size: 1.8rem;
  }
}

.order {
  text-align: center;
  margin-bottom: 3rem;
}

@for $i from 0 through 2 {
  .menu__section-#{$i} {
    animation: fadein 800ms $delay * $i backwards;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
