.location {
  @include flexContent;
  background-color: $color-grey2;
  padding: $padding-section-small;
  i {
    margin-left: -1rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    color: $color-grey3;
  }
  p {
    @include font-body(1rem);
    margin-left: 1.2rem;
    color: $color-grey3;
  }
}

.presentation-menu__container {
  @include breakpoint(tablet) {
    display: flex;
  }
}

.presentation {
  text-align: center;
  background-color: $color-grey1;
  padding: $padding-section;
  @include breakpoint(tablet) {
    flex: 2;
    height: auto;
    @include flexContent;
    flex-direction: column;
    background-color: $color-white;
  }
  &__title {
    @include font-body-large;
    margin: 1rem 2rem;
  }
  &__subtitle {
    @include font-body-small;
    color: $color-grey3;
    margin: 0.7rem 0.3rem;
  }
  &__footer {
    margin: 2.2rem 0;
  }
}

.step {
  padding: $padding-section;
  @include breakpoint(tablet) {
    flex: 1;
  }
  .step__container {
    display: grid;
    margin: 0 0.5rem 3rem 0.5rem;
    grid-template-columns: 1fr;
    grid-gap: 1.3rem;
    @include breakpoint(tablet) {
      grid-template-columns: minmax(20rem, 25rem);
    }
  }
}

.restaurant {
  background-color: $color-grey1;
  padding: $padding-section;
  padding-bottom: $header-height;
  .card__container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-auto-rows: 281px;
  }
}
