.btn {
  @include font-body;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;

  &-primary {
    @include shadow;
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    color: $color-white;
    padding: 1.2rem 2rem;
    &:hover {
      background: linear-gradient(
        170deg,
        lighten($color-secondary, 5%),
        lighten($color-primary, 5%)
      );
      @include shadow($pourcent: 35%);
    }
  }

  &-secondary {
    @include flexContent($justify: start);
    @include shadow($pourcent: 10%, $blur: 5px);
    position: relative;
    background-color: $color-grey1;
    padding: 2rem 0;
    span {
      @include flexContent;
      @include font-body(1rem);
      position: absolute;
      width: 1.7rem;
      height: 1.7rem;
      top: 50;
      left: -10px;
      background-color: $color-primary;
      color: $color-white;
      border-radius: 50%;
    }
    i {
      @include colorWithBack($color-grey1);
      margin: 0 1.7rem 0 2.8rem;
    }
    &:hover {
      background-color: lighten($color-primary, 35%);
      i {
        @include colorWithBack(lighten($color-primary, 35%));
      }
    }
  }
}
