figure {
  @include shadow($pourcent: 10%, $blur: 5px);
  background-color: $color-white;
  border-radius: 15px;
  margin: 0;
  cursor: pointer;
  position: relative;

  .card__image {
    height: 12rem;
    border-radius: 15px 15px 0 0;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      max-width: 100%;
      position: absolute;
    }
  }
  .card__new {
    @include flexContent;
    position: absolute;
    top: 13px;
    right: 15px;
    background-color: #99e2d0;
    z-index: 2;
    height: 1.8rem;
    width: 5rem;
    border-radius: 3px;
    padding: 0.5rem;
    p {
      @include font-body(0.9rem);
      color: darken($color: $color-tertiary, $amount: 40%);
    }
  }

  figcaption {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    line-height: $line-height;
    .card__title{
      @include font-body-large(1.2rem);
    }
    .card__subtitle {
      @include font-body-small(1.1rem);
    }
    i {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      margin-right: 2rem;
    }
  }
}
