$duration: 800ms;

.dish {
  @include shadow($pourcent: 10%, $blur: 9px, $size: 4px);
  @include flexContent($justify: start, $align: flex-end);
  background-color: $color-white;
  border-radius: 15px;
  margin-bottom: 1.3rem;
  padding: 1rem 0.8rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &__container {
    width: calc(100% - 35px);
    transition: width $duration;
  }
  &__title,
  &__accompaniment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__title {
    @include font-body-large(1.1rem);
    margin-bottom: 0.4rem;
  }
  &__accompaniment {
    @include font-body-small(0.9rem); 
  }
  &__price {
    @include font-body-large(1rem);
    width: 35px;
  }
  &__validator {
    @include flexContent;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 65px;
    background-color: $color-tertiary;
    border-radius: 0 15px 15px 0;
    transform: translateX(66px);
    transition: transform $duration;
    i {
      color: $color-white;
      font-size: 1.5rem;
    }
  }

  &:hover > &__validator {
    transform: translateX(0px);
    i {
      animation: spin 600ms;
    }
  }
  &:hover > &__container {
    width: calc(100% - 100px);
  }
}

@keyframes spin {
  to {
    transform: rotate(720deg);
  }
}
