// Breakpoints
@mixin breakpoint($screen) {
  @media screen and (min-width: map-get($map: $breakpoints, $key: $screen)) {
    @content;
  }
}

@mixin shadow(
  $color: $color-white,
  $size: $shadow-size,
  $blur: $shadow-blur,
  $pourcent: 25%
) {
  box-shadow: 0px $size $blur darken($color, $pourcent);
}

@mixin flexContent($align: center, $justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// Fonts
@mixin font-body-large($size: 2rem) {
  font-weight: 700;
  font-size: $size;
}

@mixin font-body($size: 1.2rem) {
  font-weight: 600;
  font-size: $size;
}

@mixin font-body-small($size: 1.4rem) {
  font-weight: 300;
  font-size: $size;
}

@mixin colorWithBack($backgroundColor) {
  color: darken($backgroundColor, 50%);
}
