// colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #fff;
$color-text: #000;


$color-grey1: #fafafa;
$color-grey2: #f0f0f0;
$color-grey3: #595959;

// font
$text-font: "Roboto";
$heading-font: "Shrikhand";

// breakpoints
$breakpoints: (
  tablet: 768px,
  desktop: 992px,
  largeScreen: 1200px,
);

// spacing
$header-height: 4rem;
$padding-section: 1.5rem 1rem;
$padding-section-small: 1.2rem;

$shadow-size: 4px;
$shadow-blur: 6px;

$large-padding: 2rem;
$medium-padding: 1.5rem;
$small-padding: 1.2rem;

$line-height: 2rem;
$border-radius: 1.2rem;